//1-Patrón de colores
$dark-violet: hsl(256, 26%, 20%);
$very-light-gray: hsl(0, 0%, 98%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);


//2-Modificación en Bootstrap

$primary:$dark-violet;
$secondary:$very-light-gray;
$success:$grayish-blue;
$dark:$very-dark-violet;
$info:$dark-grayish-violet;

@import "./node_modules/bootstrap/scss/bootstrap.scss";


#nav-menu{
    background-image: url(./imagesbg-pattern-how-we-work-mobile.svg);
}
